// SPDX-License-Identifier: GPL-2.0+

#include <dt-bindings/interrupt-controller/arm-gic.h>

#include "skeleton.dtsi"
#include "exynos3250-pinctrl.dtsi"

/ {
	compatible = "samsung,exynos3250", "samsung,exynos3";
	#address-cells = <1>;
	#size-cells = <1>;
	interrupt-parent = <&gic>;

	fin_pll: xxti {
		compatible = "fixed-clock";
		clock-output-names = "fin_pll";
		u-boot,dm-pre-reloc;
		#clock-cells = <0>;
	};

	uart2: serial@13820000 {
		compatible = "samsung,exynos4210-uart";
		reg = <0x13820000 0x100>;
		u-boot,dm-pre-reloc;
	};

	gic: interrupt-controller@10481000 {
		compatible = "arm,cortex-a15-gic";
		#interrupt-cells = <3>;
		interrupt-controller;
		reg = <0x10481000 0x1000>,
		      <0x10482000 0x2000>,
		      <0x10484000 0x2000>,
		      <0x10486000 0x2000>;
		interrupts = <GIC_PPI 9
				(GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_HIGH)>;
		interrupt-parent = <&gic>;
	};

	mshc_0: mmc@12510000 {
		compatible = "samsung,exynos-dwmmc";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x12510000 0x1000>;
		interrupts = <0 142 0>;
		// clocks = <&cmu CLK_SDMMC0>, <&cmu CLK_SCLK_MMC0>;
		// clock-names = "biu", "ciu";
		clock-frequency = <100000000>;
		fifo-depth = <0x80>;
		non-removable;
		mmc-ddr-1_8v;
		samsung,pre-init;
		status = "disabled";
		bus-width = <8>;
		samsung,dw-mshc-ciu-div = <1>;
		samsung,dw-mshc-sdr-timing = <0 1>;
		samsung,dw-mshc-ddr-timing = <1 2>;
	};

	mshc_2: mmc@12530000 {
		compatible = "samsung,exynos-dwmmc";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x12530000 0x1000>;
		interrupts = <0 144 0>;
		// clocks = <&cmu CLK_SDMMC2>, <&cmu CLK_SCLK_MMC2>;
		// clock-names = "biu", "ciu";
		clock-frequency = <100000000>;
		fifo-depth = <0x80>;
		samsung,pre-init;
		status = "disabled";
		bus-width = <4>;
		samsung,dw-mshc-ciu-div = <1>;
		samsung,dw-mshc-sdr-timing = <0 1>;
		samsung,dw-mshc-ddr-timing = <1 2>;
	};

	/* FIXME: Again, missing clocks etc. */

	pmu_system_controller: syscon@10020000 {
		compatible = "samsung,exynos3250-pmu", "syscon";
		reg = <0x10020000 0x4000>;
	};

	usb: usb@12480000 {
		compatible = "snps,dwc2";
		reg = <0x12480000 0x20000>;
		phys = <&usbphy 0>;
		phy-names = "usb2-phy";
		dr_mode = "peripheral";
		status = "disabled";
	};

	usbphy: usb-phy@125b0000 {
		compatible = "samsung,exynos3250-usb2-phy";
		reg = <0x125b0000 0x100>;
		samsung,pmureg-phandle = <&pmu_system_controller>;
		#phy-cells = <1>;
		status = "disabled";
	};

	spi_0: spi@13920000 {
		compatible = "samsung,exynos4210-spi";
		reg = <0x13920000 0x100>;
		interrupts = <0 121 0>;
		#address-cells = <1>;
		#size-cells = <0>;
		fifo-depth = <256>;
		spi-max-frequency = <40000000>;
		status = "disabled";
	};

};
